.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.chatbot-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 700px;
    text-align: center;
    margin: auto; /* Center horizontally */
}

.chat-window {
    max-height: 400px;
    overflow-y: auto;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
}

.message {
    margin: 10px 0;
}

.message.chatbot {
    text-align: left;
    color: #333;
}

.message.user {
    text-align: right;
    color: #007ACC;
}

textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    background-color: #0091FF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #007ACC;
}

.response {
    margin-top: 20px;
    padding: 20px;
    background-color: #e0e0e0;
    border-radius: 4px;
    text-align: left;
}

.response h2 {
    margin-top: 0;
    font-size: 1.5em;
    color: #333;
}

.output-content {
    white-space: pre-wrap;
    word-wrap: break-word;
    font-size: 1.1em;
    line-height: 1.5;
    color: #444;
}

.response.error {
    color: red;
}

.metrics {
    margin-top: 20px;
    padding: 20px;
    background-color: #e0e0e0;
    border-radius: 4px;
    text-align: left;
}

.metrics-content {
    white-space: pre-wrap;
    word-wrap: break-word;
    font-size: 1.1em;
    line-height: 1.5;
    color: #444;
}