.home {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center; 
    flex-direction: column;
}

.home_text-wrapper {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.home_text-wrapper h1 {
    color: var(--blue-theme-sub-text-color);
    text-shadow: 4px 4px 8px rgba(5, 5, 90, 0.5);
    margin: 0px;
    padding-top: 150px;
    font-weight: 500;
    font-size: 8rem;
    position: center;
    overflow: hidden;
    white-space: nowrap;
}

.home_text-wrapper h5{
    color: var(--blue-theme-sub-text-color);
    color: var(--blue-theme-nav-background-color);
    text-shadow: 4px 4px 8px rgba(5, 5, 90, 0.5);
    margin: 0px;
    font-weight: 500;
    font-size: 4rem;
    position: center;
    overflow: hidden;
    white-space: nowrap;
}
